<footer class="footer mt-3">
	<div class="container service">
		<div class="row">
			<div class="col-sm-6 col-lg-3">
				<div class="icon-box icon-box-side">
					<span class="icon-box-icon">
						<i class="icon-rocket"></i>
					</span>

					<div class="icon-box-content">
						<h3 class="icon-box-title">ارسال رایگان</h3><!-- End .icon-box-title -->
						<p>برای سفارشات بالای 50 هزار تومان</p>
					</div><!-- End .icon-box-content -->
				</div><!-- End .icon-box -->
			</div><!-- End .col-sm-6 col-lg-4 -->

			<div class="col-sm-6 col-lg-3">
				<div class="icon-box icon-box-side">
					<span class="icon-box-icon">
						<i class="icon-rotate-left"></i>
					</span>

					<div class="icon-box-content">
						<h3 class="icon-box-title">بازگشت رایگان</h3><!-- End .icon-box-title -->
						<p>به مدت 30 روز</p>
					</div><!-- End .icon-box-content -->
				</div><!-- End .icon-box -->
			</div><!-- End .col-sm-6 col-lg-4 -->

			<div class="col-sm-6 col-lg-3">
				<div class="icon-box icon-box-side">
					<span class="icon-box-icon">
						<i class="icon-info-circle"></i>
					</span>

					<div class="icon-box-content">
						<h3 class="icon-box-title">دریافت کد تخفیف 20% </h3>
						<!-- End .icon-box-title -->
						<p>کافیست ثبت نام کنید</p>
					</div><!-- End .icon-box-content -->
				</div><!-- End .icon-box -->
			</div><!-- End .col-sm-6 col-lg-4 -->

			<div class="col-sm-6 col-lg-3">
				<div class="icon-box icon-box-side">
					<span class="icon-box-icon">
						<i class="icon-life-ring"></i>
					</span>

					<div class="icon-box-content">
						<h3 class="icon-box-title">پشتیبانی ما</h3><!-- End .icon-box-title -->
						<p>ارائه خدمات 24 ساعته / 7 روز هفته</p>
					</div><!-- End .icon-box-content -->
				</div><!-- End .icon-box -->
			</div><!-- End .col-sm-6 col-lg-4 -->
		</div>
	</div>

	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<div class="widget widget-about">
						<img src="assets/images/demos/demo-24/logo.png" class="footer-logo" alt="Footer Logo"
							 width="110" height="25">
						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوم.
						</p>

						<div class="social-icons">
							<a href="#" class="social-icon" title="فیسبوک" target="_blank">
								<i class="icon-facebook-f"></i>
							</a>
							<a href="#" class="social-icon" title="توییتر" target="_blank">
								<i class="icon-twitter"></i>
							</a>
							<a href="#" class="social-icon" title="اینستاگرام" target="_blank">
								<i class="icon-instagram"></i>
							</a>
							<a href="#" class="social-icon" title="یوتیوب" target="_blank">
								<i class="icon-youtube"></i>
							</a>
							<a href="#" class="social-icon" title="پینترست" target="_blank">
								<i class="icon-pinterest"></i>
							</a>
						</div><!-- End .soial-icons -->
					</div><!-- End .widget about-widget -->
				</div><!-- End .col-sm-12 col-lg-3 -->

				<div class="col-lg-3 col-sm-4 col-md-4">
					<div class="widget">
						<h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

						<ul class="widget-list">
							<li><a href="about.html">درباره ما</a></li>
							<li><a href="#">خدمات</a></li>
							<li><a href="#">نحوه خرید</a></li>
							<li><a href="faq.html">سوالات متداول</a></li>
							<li><a href="contact.html">تماس با ما</a></li>
						</ul><!-- End .widget-list -->
					</div><!-- End .widget -->
				</div><!-- End .col-lg-3 col-sm-4 col-md-4 -->

				<div class="col-lg-3 col-sm-4 col-md-4">
					<div class="widget">
						<h4 class="widget-title">خدمات مشتری</h4><!-- End .widget-title -->

						<ul class="widget-list">
							<li><a href="#">شیوه پرداخت</a></li>
							<li><a href="#">گارانتی بازگشت وجه</a></li>
							<li><a href="#">شیوه ارسال محصولات</a></li>
							<li><a href="#">قوانین و مقررات</a></li>
							<li><a href="#">خط مشی</a></li>
						</ul><!-- End .widget-list -->
					</div><!-- End .widget -->
				</div><!-- End .col-lg-3 col-sm-4 col-md-4 -->

				<div class="col-lg-3 col-sm-4 col-md-4">
					<div class="widget">
						<h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

						<ul class="widget-list">
							<li><a href="#">ورود</a></li>
							<li><a href="cart.html">سبد خرید</a></li>
							<li><a href="#">لیست علاقه مندی ها</a></li>
							<li><a href="#">پیگیری سفارشات</a></li>
							<li><a href="#">راهنما</a></li>
						</ul><!-- End .widget-list -->
					</div><!-- End .widget -->
				</div><!-- End .col-lg-3 col-sm-4 col-md-4 -->
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p class="footer-copyright">کپی رایت © 2019 تمامی حقوق محفوظ است.</p>
			<!-- End .footer-copyright -->

		</div><!-- End .widget-about-info -->
	</div><!-- End .container -->
	
</footer>