<meta charset="utf-8" />
<title>  مدیریت فروشگاه | @ViewData["Title"] </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="A premium admin dashboard template by Mannatthemes"
      name="description" />
<meta content="Mannatthemes" name="author" />