@{
    ViewData["Title"] = "Home Page";
}
<section class="logos">
	<div class="container">
		<hr class="mb-4">
		<div class="heading">
			<p class="heading-cat text-center">برند های معروف</p>
		</div>
		<div class="owl-carousel mb-5 owl-simple" data-toggle="owl" data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 30,
						"loop": false,
						"rtl": true,
							"responsive": {
							"0": {
								"items":2
							},
							"420": {
								"items":3
							},
							"600": {
								"items":4
							},
							"900": {
								"items":5
							},
							"1024": {
								"items":6
							}
						}
					}'>
			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/1.png" alt="نام برند">
			</a>

			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/2.png" alt="نام برند">
			</a>

			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/3.png" alt="نام برند">
			</a>

			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/4.png" alt="نام برند">
			</a>

			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/5.png" alt="نام برند">
			</a>

			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/6.png" alt="نام برند">
			</a>

			<a href="#" class="brand">
				<img src="assets/images/demos/demo-24/brands/1.png" alt="نام برند">
			</a>
		</div><!-- End .owl-carousel -->
	</div>
</section>

<section class="banners center">
	<div class="container">
		<div class="row">
			<div class="banner col-lg-4 col-md-6 col-sm-6">
				<img src="assets/images/demos/demo-24/banners/banner-1.jpg">
				<div class="intro">
					<div class="title text-center">
						<h3>پیشنهاد های عالی</h3>
					</div>
					<div class="content">
						<h4>وسایل کمپ<br>و لوازم جانبی</h4>
					</div>
					<div class="action">
						<a href="category.html">خرید</a>
					</div>
				</div>
			</div>

			<div class="banner percent col-lg-4 col-md-6 col-sm-6">
				<img src="assets/images/demos/demo-24/banners/banner-2.jpg">
				<div class="intro">
					<div class="title text-center">
						<h3>محصولات</h3>
						<h4>تابستانی</h4>
					</div>
					<div class="img-percent">
						<img src="assets/images/demos/demo-24/banners/percent.png" width="190" height="75">
					</div>
					<div class="content">
						<h4>* لورم ایپسوم متن ساختگی<br> با تولید سادگی نامفهوم</h4>
					</div>
					<div class="action">
						<a href="category.html">خرید</a>
					</div>
				</div>
			</div>

			<div class="banner col-lg-4  col-md-6 col-sm-6">
				<img src="assets/images/demos/demo-24/banners/banner-3.jpg">
				<div class="intro">
					<div class="title text-center">
						<h3>تخفیف های جذاب</h3>
					</div>
					<div class="content">
						<h4>لوازم و لباس<br>ورزشی</h4>
					</div>
					<div class="action">
						<a href="category.html">خرید</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="best-sellers">
	<div class="container">
		<div class="heading">
			<p class="heading-cat text-center">محبوب ترین محصولات از همه دسته بندی ها</p>
			<h3 class="heading-title">بیشترین فروش</h3>
		</div>
		<div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow text-center"
			 data-toggle="owl" data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 30,
						"loop": false,
						"rtl": true,
							"responsive": {
							"0": {
								"items":2
							},
							"768": {
								"items":3
							},
							"992": {
								"items":3
							},
							"1200": {
								"items":4
							}
						}
					}'>
			<div class="product product-10 text-center">
				<figure class="product-media">
					<a href="product.html">
						<img src="assets/images/demos/demo-24/best-sellers/product-1-1.jpg"
							 alt="تصویر محصول" class="product-image">
						<img src="assets/images/demos/demo-24/best-sellers/product-1-2.jpg"
							 alt="تصویر محصول" class="product-image-hover">
					</a>

					<div class="product-action-vertical">
						<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
						   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
					</div><!-- End .product-action-vertical -->
				</figure><!-- End .product-media -->

				<div class="product-body">

					<div class="product-action">
						<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
						<a href="#" class="btn-product-icon btn-wishlist">
							<span>
								افزودن به
								علاقه مندی
							</span>
						</a>
					</div><!-- End .product-action -->
					<div class="product-intro">
						<h3 class="product-title text-center text-center">
							<a href="product.html">کیسه خواب کوچک</a>
						</h3><!-- End .product-title text-center -->
						<div class="product-price">
							299,000 تومان
						</div><!-- End .product-price -->
					</div>
					<div class="product-detail">
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 6 دیدگاه )</span>
						</div><!-- End .rating-container -->

					</div>
				</div><!-- End .product-body -->
			</div><!-- End .product -->

			<div class="product product-10 text-center">
				<figure class="product-media">
					<a href="product.html">
						<img src="assets/images/demos/demo-24/best-sellers/product-2-1.jpg"
							 alt="تصویر محصول" class="product-image">
						<img src="assets/images/demos/demo-24/best-sellers/product-2-2.jpg"
							 alt="تصویر محصول" class="product-image-hover">
					</a>

					<div class="product-action-vertical">
						<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
						   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
					</div><!-- End .product-action-vertical -->
				</figure><!-- End .product-media -->

				<div class="product-body">

					<div class="product-action">
						<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
						<a href="#" class="btn-product-icon btn-wishlist">
							<span>
								افزودن به
								علاقه مندی
							</span>
						</a>
					</div><!-- End .product-action -->
					<div class="product-intro">
						<h3 class="product-title text-center text-center">
							<a href="product.html">ژاکت ضد آب</a>
						</h3><!-- End .product-title text-center -->
						<div class="product-price">
							76,000 تومان
						</div><!-- End .product-price -->
					</div>
					<div class="product-detail">
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 1 دیدگاه )</span>
						</div><!-- End .rating-container -->

					</div>
				</div><!-- End .product-body -->
			</div><!-- End .product -->

			<div class="product product-10 text-center">
				<figure class="product-media">
					<span class="product-label label-sale">فروش ویژه</span>
					<a href="product.html">
						<img src="assets/images/demos/demo-24/best-sellers/product-3-1.jpg"
							 alt="تصویر محصول" class="product-image">
						<img src="assets/images/demos/demo-24/best-sellers/product-3-2.jpg"
							 alt="تصویر محصول" class="product-image-hover">
					</a>

					<div class="product-action-vertical">
						<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
						   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
					</div><!-- End .product-action-vertical -->
				</figure><!-- End .product-media -->

				<div class="product-body">

					<div class="product-action">
						<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
						<a href="#" class="btn-product-icon btn-wishlist">
							<span>
								افزودن به
								علاقه مندی
							</span>
						</a>
					</div><!-- End .product-action -->
					<div class="product-intro">
						<h3 class="product-title text-center">
							<a href="product.html">کفش ورزشی مخصوص دویدن</a>
						</h3><!-- End .product-title text-center -->
						<div class="product-price">
							<span class="new-price">239,000 تومان</span>
							<span class="old-price">400,000</span>
						</div><!-- End .product-price -->
					</div>
					<div class="product-detail">
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 100%;"></div>
								<!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 10 دیدگاه )</span>
						</div><!-- End .rating-container -->

					</div>
				</div><!-- End .product-body -->
			</div><!-- End .product -->

			<div class="product product-10 text-center">
				<figure class="product-media">
					<a href="product.html">
						<img src="assets/images/demos/demo-24/best-sellers/product-4-1.jpg"
							 alt="تصویر محصول" class="product-image">
						<img src="assets/images/demos/demo-24/best-sellers/product-4-2.jpg"
							 alt="تصویر محصول" class="product-image-hover">
					</a>

					<div class="product-action-vertical">
						<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
						   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
					</div><!-- End .product-action-vertical -->
				</figure><!-- End .product-media -->

				<div class="product-body">

					<div class="product-action">
						<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
						<a href="#" class="btn-product-icon btn-wishlist">
							<span>
								افزودن به
								علاقه مندی
							</span>
						</a>
					</div><!-- End .product-action -->
					<div class="product-intro">
						<h3 class="product-title text-center">
							<a href="product.html">کوله پشتی امپراطور </a>
						</h3><!-- End .product-title text-center -->
						<div class="product-price">
							59,000 تومان
						</div><!-- End .product-price -->
					</div>
					<div class="product-detail">
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 1 دیدگاه )</span>
						</div><!-- End .rating-container -->

					</div>
				</div><!-- End .product-body -->
			</div><!-- End .product -->

			<div class="product product-10 text-center">
				<figure class="product-media">
					<a href="product.html">
						<img src="assets/images/demos/demo-24/best-sellers/product-5-1.jpg"
							 alt="تصویر محصول" class="product-image">
						<img src="assets/images/demos/demo-24/best-sellers/product-5-2.jpg"
							 alt="تصویر محصول" class="product-image-hover">
					</a>

					<div class="product-action-vertical">
						<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
						   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
					</div><!-- End .product-action-vertical -->
				</figure><!-- End .product-media -->

				<div class="product-body">

					<div class="product-action">
						<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
						<a href="#" class="btn-product-icon btn-wishlist">
							<span>
								افزودن به
								علاقه مندی
							</span>
						</a>
					</div><!-- End .product-action -->
					<div class="product-intro">
						<h3 class="product-title text-center">
							<a href="product.html">کفش ورزشی مخصوص دویدن</a>
						</h3><!-- End .product-title text-center -->
						<div class="product-price">
							127,000 تومان
						</div><!-- End .product-price -->
					</div>
					<div class="product-detail">
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 100%;"></div>
								<!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 6 دیدگاه )</span>
						</div><!-- End .rating-container -->

					</div>
				</div><!-- End .product-body -->
			</div><!-- End .product -->

			<div class="product product-10 text-center">
				<figure class="product-media">
					<a href="product.html">
						<img src="assets/images/demos/demo-24/best-sellers/product-6-1.jpg"
							 alt="تصویر محصول" class="product-image">
						<img src="assets/images/demos/demo-24/best-sellers/product-6-2.jpg"
							 alt="تصویر محصول" class="product-image-hover">
					</a>

					<div class="product-action-vertical">
						<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
						   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
					</div><!-- End .product-action-vertical -->
				</figure><!-- End .product-media -->

				<div class="product-body">

					<div class="product-action">
						<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
						<a href="#" class="btn-product-icon btn-wishlist">
							<span>
								افزودن به
								علاقه مندی
							</span>
						</a>
					</div><!-- End .product-action -->
					<div class="product-intro">
						<h3 class="product-title text-center">
							<a href="product.html">لباس ورزشی</a>
						</h3><!-- End .product-title text-center -->
						<div class="product-price">
							34,000 تومان
						</div><!-- End .product-price -->
					</div>
					<div class="product-detail">
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 3 دیدگاه )</span>
						</div><!-- End .rating-container -->
						<div class="product-nav product-nav-dots">
							<a href="#" class="active" style="background: #d64042;">
								<span class="sr-only">نام رنگ</span>
							</a>
							<a href="#" style="background: #333333;">
								<span class="sr-only">
									Color
									name
								</span>
							</a>
						</div><!-- End .product-nav -->
					</div>
				</div><!-- End .product-body -->
			</div><!-- End .product -->
		</div>
	</div>
</section>

<section class="banners stretch mt-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-12 banner-lg">
				<img src="assets/images/demos/demo-24/banners/banner-4.jpg">
				<div class="intro">
					<div class="title text-center">
						<h3><i>ویژه</i></h3>
					</div>
					<div class="content text-center">
						<h4>کمپ و<br>پیاده روی</h4>
						<p>
							لورم ایپسوم متن ساختگی
							با تولید سادگی نامفهوم<br>لورم ایپسوم متن ساختگی
							با تولید سادگی نامفهوم
						</p>
					</div>
					<div class="action">
						<a href="category.html">خرید</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-12 banner-sm-div">
				<div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-black">
					<img src="assets/images/demos/demo-24/banners/banner-5.jpg">
					<div class="intro">
						<div class="title text-center">
							<h3>زنانه</h3>
						</div>
						<div class="content text-center">
							<h4>ورزش و <br> تناسب اندام</h4>
						</div>
						<div class="action">
							<a href="category.html">خرید</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-white">
					<img src="assets/images/demos/demo-24/banners/banner-6.jpg">
					<div class="intro">
						<div class="title text-center">
							<h3>محصولات جدید</h3>
						</div>
						<div class="content text-center">
							<h4>تخفیف های ویژه<br> در هر فصل</h4>
						</div>
						<div class="action">
							<a href="category.html">خرید</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-white">
					<img src="assets/images/demos/demo-24/banners/banner-7.jpg">
					<div class="intro">
						<div class="title text-center">
							<h3>مردانه</h3>
						</div>
						<div class="content text-center">
							<h4>لباس غواصی و <br>لوازم جانبی</h4>
						</div>
						<div class="action">
							<a href="category.html">خرید</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-black">
					<img src="assets/images/demos/demo-24/banners/banner-8.jpg">
					<div class="intro">
						<div class="title text-center">
							<h3>مردانه</h3>
						</div>
						<div class="content text-center">
							<h4>کالکشن<br>کاپشن</h4>
						</div>
						<div class="action">
							<a href="category.html">خرید</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="featured-products">
	<div class="container">
		<div class="heading">
			<p class="heading-cat text-center">محصولات برتر</p>
			<h3 class="heading-title">محصولات برتر</h3>
		</div>
		<div class="row">
			<div class="col-lg-7 col-md-7 products">
				<div class="col-6">
					<div class="product product-10 text-center">
						<figure class="product-media">
							<a href="product.html">
								<img src="assets/images/demos/demo-24/featured-products/product-1-1.jpg"
									 alt="تصویر محصول" class="product-image">
								<img src="assets/images/demos/demo-24/featured-products/product-1-2.jpg"
									 alt="تصویر محصول" class="product-image-hover">
							</a>

							<div class="product-action-vertical">
								<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
								   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
							</div><!-- End .product-action-vertical -->
						</figure><!-- End .product-media -->

						<div class="product-body">

							<div class="product-action">
								<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
								<a href="#" class="btn-product-icon btn-wishlist">
									<span>
										افزودن به
										علاقه مندی
									</span>
								</a>
							</div><!-- End .product-action -->
							<div class="product-intro">
								<h3 class="product-title text-center">
									<a href="product.html">کفش ورزشی مخصوص دویدن </a>
								</h3><!-- End .product-title text-center -->
								<div class="product-price">
									77,000 تومان
								</div><!-- End .product-price -->
							</div>
							<div class="product-detail">
								<div class="ratings-container">
									<div class="ratings">
										<div class="ratings-val" style="width: 60%;"></div>
										<!-- End .ratings-val -->
									</div><!-- End .ratings -->
									<span class="ratings-text">( 3 دیدگاه )</span>
								</div><!-- End .rating-container -->
								<div class="product-nav product-nav-dots">
									<a href="#" class="active" style="background: #34529d;">
										<span class="sr-only">نام رنگ</span>
									</a>
									<a href="#" style="background: #333333;">
										<span class="sr-only">
											Color
											name
										</span>
									</a>
								</div><!-- End .product-nav -->
							</div>
						</div><!-- End .product-body -->
					</div><!-- End .product -->
				</div>
				<div class="col-6">
					<div class="product product-10 text-center">
						<figure class="product-media">
							<span class="product-label label-sale">فروش ویژه</span>
							<a href="product.html">
								<img src="assets/images/demos/demo-24/featured-products/product-2-1.jpg"
									 alt="تصویر محصول" class="product-image">
								<img src="assets/images/demos/demo-24/featured-products/product-2-2.jpg"
									 alt="تصویر محصول" class="product-image-hover">
							</a>

							<div class="product-action-vertical">
								<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
								   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
							</div><!-- End .product-action-vertical -->
						</figure><!-- End .product-media -->

						<div class="product-body">

							<div class="product-action">
								<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
								<a href="#" class="btn-product-icon btn-wishlist">
									<span>
										افزودن به
										علاقه مندی
									</span>
								</a>
							</div><!-- End .product-action -->
							<div class="product-intro">
								<h3 class="product-title text-center">
									<a href="product.html">لباس کلاه دار</a>
								</h3><!-- End .product-title text-center -->
								<div class="product-price">
									<span class="new-price">76,000 تومان</span>
									<span class="old-price">109,000</span>
								</div><!-- End .product-price -->
							</div>
							<div class="product-detail">
								<div class="ratings-container">
									<div class="ratings">
										<div class="ratings-val" style="width: 80%;"></div>
										<!-- End .ratings-val -->
									</div><!-- End .ratings -->
									<span class="ratings-text">( 1 دیدگاه )</span>
								</div><!-- End .rating-container -->
								<div class="product-nav product-nav-dots" style="visibility: hidden;">
									<a href="#" class="active" style="background: #34529d;">
										<span class="sr-only">نام رنگ</span>
									</a>
									<a href="#" style="background: #333333;">
										<span class="sr-only">
											Color
											name
										</span>
									</a>
								</div><!-- End .product-nav -->
							</div>
						</div><!-- End .product-body -->
					</div><!-- End .product -->
				</div>
				<div class="col-6">
					<div class="product product-10 text-center">
						<figure class="product-media">
							<span class="product-label label-sale">فروش ویژه</span>
							<a href="product.html">
								<img src="assets/images/demos/demo-24/featured-products/product-3-1.jpg"
									 alt="تصویر محصول" class="product-image">
								<img src="assets/images/demos/demo-24/featured-products/product-3-2.jpg"
									 alt="تصویر محصول" class="product-image-hover">
							</a>

							<div class="product-action-vertical">
								<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
								   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
							</div><!-- End .product-action-vertical -->
						</figure><!-- End .product-media -->

						<div class="product-body">

							<div class="product-action">
								<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
								<a href="#" class="btn-product-icon btn-wishlist">
									<span>
										افزودن به
										علاقه مندی
									</span>
								</a>
							</div><!-- End .product-action -->
							<div class="product-intro">
								<h3 class="product-title text-center">
									<a href="product.html">کوله پشتی تالیا</a>
								</h3><!-- End .product-title text-center -->
								<div class="product-price">
									<span class="new-price">67,000 تومان</span>
									<span class="old-price">150,000</span>
								</div><!-- End .product-price -->
							</div>
							<div class="product-detail">
								<div class="ratings-container">
									<div class="ratings">
										<div class="ratings-val" style="width: 80%;"></div>
										<!-- End .ratings-val -->
									</div><!-- End .ratings -->
									<span class="ratings-text">( 6 دیدگاه )</span>
								</div><!-- End .rating-container -->
								<div class="product-nav product-nav-dots" style="visibility: hidden;">
									<a href="#" class="active" style="background: #34529d;">
										<span class="sr-only">نام رنگ</span>
									</a>
									<a href="#" style="background: #333333;">
										<span class="sr-only">
											Color
											name
										</span>
									</a>
								</div><!-- End .product-nav -->
							</div>
						</div><!-- End .product-body -->
					</div><!-- End .product -->
				</div>
				<div class="col-6">
					<div class="product product-10 text-center">
						<figure class="product-media">
							<a href="product.html">
								<img src="assets/images/demos/demo-24/featured-products/product-4-1.jpg"
									 alt="تصویر محصول" class="product-image">
								<img src="assets/images/demos/demo-24/featured-products/product-4-2.jpg"
									 alt="تصویر محصول" class="product-image-hover">
							</a>

							<div class="product-action-vertical">
								<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
								   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
							</div><!-- End .product-action-vertical -->
						</figure><!-- End .product-media -->

						<div class="product-body">

							<div class="product-action">
								<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
								<a href="#" class="btn-product-icon btn-wishlist">
									<span>
										افزودن به
										علاقه مندی
									</span>
								</a>
							</div><!-- End .product-action -->
							<div class="product-intro">
								<h3 class="product-title text-center">
									<a href="product.html">کفش ورزشی چرم</a>
								</h3><!-- End .product-title text-center -->
								<div class="product-price">
									52,000 تومان
								</div><!-- End .product-price -->
							</div>
							<div class="product-detail">
								<div class="ratings-container">
									<div class="ratings">
										<div class="ratings-val" style="width: 100%;"></div>
										<!-- End .ratings-val -->
									</div><!-- End .ratings -->
									<span class="ratings-text">( 6 دیدگاه )</span>
								</div><!-- End .rating-container -->
								<div class="product-nav product-nav-dots" style="visibility: hidden;">
									<a href="#" class="active" style="background: #34529d;">
										<span class="sr-only">نام رنگ</span>
									</a>
									<a href="#" style="background: #333333;">
										<span class="sr-only">
											Color
											name
										</span>
									</a>
								</div><!-- End .product-nav -->
							</div>
						</div><!-- End .product-body -->
					</div><!-- End .product -->
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-8 col-12">
				<div class="product product-10 product-lg text-center">
					<figure class="product-media">
						<span class="product-label label-deal">پیشنهاد روزانه</span>
						<a href="product.html">
							<img src="assets/images/demos/demo-24/featured-products/product-5.jpg"
								 alt="تصویر محصول" class="product-image">
						</a>

						<div class="product-action-vertical">
							<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
							   title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
						</div><!-- End .product-action-vertical -->
					</figure><!-- End .product-media -->
					<div class="deal">
						<div class="deal-countdown offer-countdown" data-until="+11d"></div>
						<!-- End .deal-countdown -->
					</div>

					<div class="product-body">

						<div class="product-intro">
							<h3 class="product-title text-center">
								<a href="product.html">کلاه دوچرخه سواری هملت</a>
							</h3><!-- End .product-title text-center -->
							<div class="product-price">
								139,000 تومان
							</div><!-- End .product-price -->
						</div>
						<div class="product-detail">
							<div class="ratings-container">
								<div class="ratings">
									<div class="ratings-val" style="width: 60%;"></div>
									<!-- End .ratings-val -->
								</div><!-- End .ratings -->
								<span class="ratings-text">( 3 دیدگاه )</span>
							</div><!-- End .rating-container -->
							<div class="product-nav product-nav-dots">
								<a href="#" class="active" style="background: #666666;">
									<span class="sr-only">نام رنگ</span>
								</a>
								<a href="#" style="background: #cc6666;">
									<span class="sr-only">
										Color
										name
									</span>
								</a>
							</div><!-- End .product-nav -->
						</div>
						<div class="product-action">
							<a href="#" class="btn-cart"><span>افزودن به سبد خرید</span></a>
							<a href="#" class="btn-product-icon btn-wishlist">
								<span class="mr-1">
									افزودن
									به
									علاقه مندی
								</span>
							</a>
						</div><!-- End .product-action -->
					</div><!-- End .product-body -->
				</div><!-- End .product -->
			</div>
		</div>
	</div>
</section>
<section class="video-banner">
	<img src="assets/images/demos/demo-24/video-banner/banner.jpg">

	<div class="intro video">
		<div class="title text-center">
			<h3><i>بهار / تابستان</i></h3>
		</div>
		<div class="content">
			<h4>جدید و جذاب<br>کالکشن 2020</h4>
		</div>
		<div class="action">
			<a href="https://www.youtube.com/watch?v=YbJOTdZBX1g" class="btn-iframe">
				<i class="icon-play"></i>
			</a>
		</div>
	</div>
</section>

<section class="subscribe">
	<div class="container">
		<div class="heading">
			<p class="heading-cat text-center">اطلاع از آخرین محصولات و تخفیف ها</p>
			<h3 class="heading-title">با عضویت در خبرنامه ما</h3>
		</div>
		<div class="col-lg-6 subscribe-form">
			<form action="#">
				<div class="input-group">
					<input type="email" placeholder="آدرس ایمیل خود را وارد کنید" aria-label="Email Adress"
						   required="">
					<div class="input-group-append">
						<button class="btn btn-subscribe" type="submit"><span>عضویت</span></button>
					</div><!-- .End .input-group-append -->
				</div><!-- .End .input-group -->
			</form>
		</div>
	</div>
</section>

<section class="blog mb-6">
	<div class="container">
		<div class="heading">
			<p class="heading-cat text-center">تازه ترین خبر ها</p>
			<h3 class="heading-title">اخبار جدید</h3>
		</div>
		<div class="owl-carousel owl-simple mb-4" data-toggle="owl" data-owl-options='{
							"nav": true,
							"dots": false,
							"items": 3,
							"margin": 20,
							"loop": false,
							"rtl": true,
							"responsive": {
								"0": {
									"items":1,
									"dots":true
								},
								"520": {
									"items":2,
									"dots":true
								},
								"768": {
									"items":3
								}
							}
						}'>
			<article class="entry">
				<figure class="entry-media">
					<a href="single.html">
						<img src="assets/images/demos/demo-24/blog/blog-1.jpg" alt="توضیحات عکس">
					</a>
				</figure><!-- End .entry-media -->

				<div class="entry-body text-center">
					<div class="entry-meta">
						<a href="#">22 اسفند 1401</a>، 0 دیدگاه
					</div><!-- End .entry-meta -->

					<h3 class="entry-title text-center">
						<a href="single.html">لورم ایپسوم متن ساختگی</a>
					</h3><!-- End .entry-title -->

					<div class="entry-content">
						<a href="single.html" class="read-more">خواندن بیشتر</a>
					</div><!-- End .entry-content -->
				</div><!-- End .entry-body -->
			</article><!-- End .entry -->

			<article class="entry">
				<figure class="entry-media">
					<a href="single.html">
						<img src="assets/images/demos/demo-24/blog/blog-2.jpg" alt="توضیحات عکس">
					</a>
				</figure><!-- End .entry-media -->

				<div class="entry-body text-center">
					<div class="entry-meta">
						<a href="#">22 اسفند 1401</a>، 0 دیدگاه
					</div><!-- End .entry-meta -->

					<h3 class="entry-title text-center">
						<a href="single.html">لورم ایپسوم متن ساختگی</a>
					</h3><!-- End .entry-title -->

					<div class="entry-content">
						<a href="single.html" class="read-more">خواندن بیشتر</a>
					</div><!-- End .entry-content -->
				</div><!-- End .entry-body -->
			</article><!-- End .entry -->

			<article class="entry">
				<figure class="entry-media">
					<a href="single.html">
						<img src="assets/images/demos/demo-24/blog/blog-3.jpg" alt="توضیحات عکس">
					</a>
				</figure><!-- End .entry-media -->

				<div class="entry-body text-center">
					<div class="entry-meta">
						<a href="#">22 اسفند 1401</a>، 0 دیدگاه
					</div><!-- End .entry-meta -->

					<h3 class="entry-title text-center">
						<a href="single.html">لورم ایپسوم متن ساختگی</a>
					</h3><!-- End .entry-title -->

					<div class="entry-content">
						<a href="single.html" class="read-more">خواندن بیشتر</a>
					</div><!-- End .entry-content -->
				</div><!-- End .entry-body -->
			</article><!-- End .entry -->
		</div><!-- End .owl-carousel -->
	</div>
</section>

<section class="instagram mb-3">
    <div class="container">
        <div class="heading">
            <p class="heading-cat text-center">
                دنبال کردن ما در اینستاگرام <span class="highlight d-inline-block" dir="ltr"><span>
            </p>
        </div>
        <div class="row">
            <div class="col-xl-5col col-md-3 col-6 instagram-feed">
                <img src="assets/images/demos/demo-24/instagram/back-1.jpg">
                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>280</a>
                    <a href="#"><i class="icon-comments"></i>22</a>
                </div>
            </div>
            <div class="col-xl-5col col-md-3 col-6 instagram-feed">
                <img src="assets/images/demos/demo-24/instagram/back-2.jpg">
                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>280</a>
                    <a href="#"><i class="icon-comments"></i>22</a>
                </div>
            </div>
            <div class="col-xl-5col col-md-3 col-6 instagram-feed">
                <img src="assets/images/demos/demo-24/instagram/back-3.jpg">
                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>280</a>
                    <a href="#"><i class="icon-comments"></i>22</a>
                </div>
            </div>
            <div class="col-xl-5col col-md-3 col-6 instagram-feed">
                <img src="assets/images/demos/demo-24/instagram/back-4.jpg">
                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>280</a>
                    <a href="#"><i class="icon-comments"></i>22</a>
                </div>
            </div>
            <div class="col-xl-5col col-md-3 col-6 instagram-feed">
                <img src="assets/images/demos/demo-24/instagram/back-5.jpg">
                <div class="instagram-feed-content">
                    <a href="#"><i class="icon-heart-o"></i>280</a>
                    <a href="#"><i class="icon-comments"></i>22</a>
                </div>
            </div>
        </div>
    </div>
</section>

					
					@section Style
                    {
                        <link rel="stylesheet" href="assets/css/style.css">
                        <link rel="stylesheet" href="assets/css/skins/skin-demo-24.css">
                        <link rel="stylesheet" href="assets/css/demos/demo-24.css">
                    }
					@section Script
                    {
                        
                        <script src="assets/js/main.js"></script>
                        <script src="assets/js/demos/demo-24.js"></script>
                    }
