@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SportsShop.Domain.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "_DefaultAdminLayout";
}

<form asp-action="ChangePassword" method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">داشبورد</a></li>
                        <li class="breadcrumb-item active" >تغییر رمز عبور</li>
                    </ol>
                </div>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->

    <div class="card">

        <div class="card-body">
            <div class="form-horizontal">
                <h4 class="card-title">تغییر رمز عبور</h4>
                <hr />
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <div class="position-relative has-icon-left">
                            <input type="password" asp-for="OldPassword" class="form-control" autocomplete="off">
                            <span class="text-danger" asp-validation-for="OldPassword"></span>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <div class="position-relative has-icon-left">
                            <input type="password" asp-for="Password" class="form-control" autocomplete="off">
                            <span class="text-danger" asp-validation-for="Password"></span>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="RePassword"></label>
                        <div class="position-relative has-icon-left">
                            <input type="password" asp-for="RePassword" class="form-control" autocomplete="off">
                            <span class="text-danger" asp-validation-for="RePassword"></span>

                        </div>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-end">
                    <button id="subBtn" type="submit" class="btn btn-primary">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</form>
